html {
  background-size: cover;
  font-family: 'helvetica neue';
  align-items: center;
  font-size: 10px;
}

.clock-center {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin: auto; 
  top: 0; 
  bottom: 0; 
  width: 400px;
}